*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 5px;
}
.main_container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.arr_num{
    width:2px;
    margin : 0 1px;
    background-color: skyblue;

}
.index{
    width:2px;
    margin : 0 1px;
    background-color: red;
}
.compared_index{
    width:2px;
    margin : 0 1px;
    background-color: green;
}